<%- include("header"); -%>
<div class="box">
    <h1 id="heading">I am Nagendra Babu a beginner in Node JS.</h1>
    <p>I worked on Python and Javascript. Currently working as Technical Consultant.</p>
</div>
<%- include('footer'); -%>